.index_page {
  min-height: 100vh;

  padding: 3rem;

  &-title {
    margin-bottom: 3rem;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }
}
